<html>
  
    <head>
        <title> NetCAT </title>
        <style>
            h3, h2, a {
                text-decoration: none;
                color: black;
                font-family: "Verdana";
            }
        </style>
    </head>

    <body>

        <table>
            <td>
                <img src="/static/netcat.gif">

            </td>

            <td>

                <p><h2>NetCAT - Network Configuration Automation Tool</h2>
                <h3>2020 <a href="https://www.linkedin.com/in/ccie18643/">Sebastian Majewski</a></h3></p>
                <br>
                <p><h3><a href="/inventory">Device Inventory </a>
                <p><h3><a href="/status">Network Status </a>
                <p><h3><a href="/iplookup">IP to MAC Lookup </a>
                <p><h3><a href="/maclookup">MAC to Switch Port Lookup </a>


            </td>


        </table>


    </body>

</html>

